@media (max-width: 425px) {
    .card {
        max-width: 90%;
        padding: 15px;
    }

    .card .advice-descriptiono {
        font-size: 20px;
        padding: 15px;
    }

    .card picture img {
        max-width: 100%;
        height: auto;
    }

    .card .advice-update {
        margin: 0 auto;
        display: block;
        transform: translateY(50%);
    }
}
